html {
  box-sizing: border-box;
  font-family: 'Andika', Verdana, sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #d90027;
  position: relative;

  &:nth-of-type(even)::after {
    transform-origin: right;
  }
  &:nth-of-type(odd)::after {
    transform-origin: left;
  }

  &::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: black;
    transition: all 0.2s ease-in-out 0s;
    transform: scaleX(0);
  }

  &:hover:after {
    opacity: 1;
    transform: scaleX(1);
  }
}

ul {
  list-style-type: square;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
